body{
    margin: 0px!important;
    overflow-x: hidden;
    text-decoration: none;
}
header{
    width: 100%;
    height: 50px;
}
nav{
    position: fixed;
    z-index: 10000000000;
    background-color: #000;
    width: 100%;
    height: 50px;
}



nav .menu{
    display: flex;
    
}
nav .menu li{
    list-style: none;
    float: left;
    margin: 0px 15px;
}
nav .menu li a{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ddd;
    text-decoration: none;
    text-transform: capitalize;
}
.busca{
    flex: 2;
}
.lista{
    flex: 8;
}
img.menu{
    height: 45px;
    margin: 0px auto;
}

.conteudo-slide .swiper-container{
    width: 100%;
    height: 100%;
}
input{
    border: 1px solid #ddd;
    background-color: #fff;
}
button{
    background-color: transparent;
    border: transparent;
}
img.noticia-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.coluna{
    flex: 4;
}
.noticia{
    margin: 15px;
}
.conteudo-slide .swiper-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .slide-not{
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 300px;
  }
  h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
  }
  .bottom{
    display: table-cell;
    vertical-align: bottom;
    height: 300px;
  }

  .bottom h1{
      text-transform: uppercase;
  }

  h2 {
      text-align: center;
      text-decoration:none;
  }

  .conteudo{
      display: flex;
      font-family: Helvetica,Arial, sans-serif, serif;
      list-style: none;
      text-decoration:none;
      text-align: center;

  }

  section a {
    text-decoration:none;
    color: #1f1f11;
    
  }
  .legenda_da_capa{
    font-style:italic; 
  }

 @media screen and (max-width:700px)
 {

    header,img.noticia-img,.bottom h1,body,.menu,.busca,.logo,.conteudo-slide .swiper-container .swiper-slide,.coluna,.conteudo-slide.noticia 
    section a, h2,.slide-not,input,.bottom,nav,nav .menu li,p,img.menu,
    {
     
     width: 100%;
    

     
     

  }

  div.lista{

  }